.ui-dialog {pointer-events: auto;display: none;background-color: #fff;  position: fixed !important;left:40%;top:40%; box-shadow: 0 0 10px rgba(0,0,0,.3);    padding: 40px 55px;}
.ui-dialog .i-icon3{margin-right:10px;position: relative;top:9px;*top:3px;}
.ui-dialog-close {width: 16px;height: 16px;position: absolute;top: 20px;right: 24px;background: url(close.png);cursor: pointer;transition: all 0.35s ease-out 0s;}
    .ui-dialog-close:hover{-webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    transform: rotateZ(180deg);}

.ui-dialog-mask{position: fixed;width:100%;height:100%;left:0;top:0;background:#000;opacity: .5;display: none;filter:alpha(opacity=50);}
.ui-dialog-title{background-color:#288df0;color:#fff;padding:5px 10px;}

.ui-dialog.animated { -webkit-animation-duration: .5s; animation-duration: .5s; -webkit-animation-fill-mode: both; -ms-animation-fill-mode: both; -moz-animation-fill-mode: both; animation-fill-mode: both; }
#confirmDialog{width: 350px;background-color: #fff;}
.ui-confirm-title,.ui-alert-title{/*white-space:nowrap; */text-align: left;font-size: 20px;color:#333;line-height: 40px;padding-bottom: 30px;}
.confirm-title2{font-size: 16px;font-weight: normal; color: #666;text-align: center;line-height: 1.8;}

.ui-dialog-cancel{background-color:#999999;}
.ui-dialog-action{pointer-events: auto;text-align: center;width:100%;border:none;}
.ui-dialog-action td{text-align: center;border:none; padding: 0;margin: 0;}
.ui-dialog-action button{display: block;background: none;width: 118px;height: 40px; margin: 0 auto;text-align: center;font-size: 14px;line-height: 38px;border-radius: 4px;font-size: 18px;border: 1px solid #ffa902;color: #ffa902;cursor: pointer; }
.ui-dialog-action .ui-confirm-submit{    background: #ffaa02;color: #fff;}
.ui-dialog-action .ui-confirm-submit.btns-disable{background: #a0a0a0;color: #fff;cursor: default;border-color: #a0a0a0;}

.ui-alert{border-radius: 5px;overflow: hidden;min-width: 220px;}
.ui-alert .ui-alert-submit{margin: 0 auto;}
.ui-alert-info{text-align: center;margin-top:20px;}